

body {
   background-image: url('../../assets/home-image.png');
   background-position: center center;
   background-repeat : no-repeat;
   background-attachment: fixed;
   background-size : cover;
   background-color: #999;
}
.title {
    
    margin: auto;
    margin-top: 170px;
    text-align: center;
    padding: 10px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    color: white;
}
