

body {
    margin-top: 50px;
    padding-bottom: 0;
    background-image: url('../../assets/back1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.editable {
    background: #EAEAEA
}

input:focus {
    border-color: purple;
}

input {
    display: block;
    width: 150px;
}